body {
	background-color: #bdbdbd;
	font-family: 'Oswald', sans-serif;
}

.result{
	word-wrap: break-word;
}

.masthead-clearfix {
	top: 0;
	/*max-width: 60%;*/
	text-align: center;
	height: 120px;
	padding-top: 1px;
	background-color: #212121;
	color: #E0F2F1;
}


.footer {
  position: fixed;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
	line-height: 60px;
  background-color: #212121;
}


.site-wrapper{
	overflow: scroll;
}

button {
	background-color: #00BFA5;
}

button.create,
button.convert{
	background-color: #1B5E20;
}

.inner.cover{
	text-align: center;
	padding: 5% 10% 0 10%;
	/*max-width: 60%;*/
}

output {
	word-wrap: break-word;
}

a {
	text-decoration: none;
	color: black;
	border: 2px solid #e0e0e0;
	border-radius: 4px;
	background-color: #E0E0E0;
	padding: 0 4px;
}

.hover,
.focus {
	color: #ffffff;
}

.slideMenu {
	z-index: 5;
	padding: 0 10%;
	text-align: center;
}

li {
	list-style-type: none;
}
