body {
	background-color: #bdbdbd;
	font-family: 'Oswald', sans-serif;
}

.result{
	word-wrap: break-word;
}

.masthead-clearfix {
	top: 0;
	width: 100%;
	text-align: center;
	height: 120px;
	padding-top: 1px;
	background-color: #212121;
	color: #E0F2F1;
}

.mastfoot{
	position: absolute;
  bottom: -120px;
  width: 100%;
	text-align: center;
 	height: 60px;
  line-height: 50px; /* Vertically center the text there */
	background-color: #212121;
	color: #E0F2F1;
}

button {
	background-color: #00BFA5;
}

button.create,
button.convert{
	background-color: #1B5E20;
}

.inner.cover{
	text-align: center;
	padding: 5% 5%;
}

output {
	word-wrap: break-word;
}

a {
	text-decoration: none;
	color: black;
	border: 2px solid #e0e0e0;
	border-radius: 4px;
	background-color: #E0E0E0;
	padding: 0 4px;
}

a.hover,
a.focus {
	color: #ffffff;
}
